<div>
    <label style="display: block;" class="CloudFont Small-CloudFont">Advance Payment :</label>
    <div style="clear: both; height: 375px;">
        <label class="CloudFont Small-CloudFont">Guest :</label><br/>
        <input ng-model="Payment.AdvanceDepositHandler.GuestPhoneNumber" class="DefaultInputText" type="number"><br/>
        <label class="CloudFont Small-CloudFont">Advance :</label><br/>
        <input ng-model="Payment.PaymentDetailDto.AdvanceID" class="DefaultInputNumber" type="number"><br/>
        <label class="CloudFont Small-CloudFont">Avai Balance :</label><br/>
        <input ng-model="Payment.PaymentDetailDto.AvailableBalance" class="DefaultInputNumber" type="number"><br/>
        <label class="CloudFont Small-CloudFont">Pay Amount :</label><br/>
        <input ng-model="Payment.PaymentDetailDto.PayAmount" class="DefaultInputNumber" type="number"><br/>
    </div>
    <div>
        <button ng-click="Payment.AddPayment(Payment.PaymentModes.AdvancePayment)" style="width: 100%; margin-top: 8px; height: 45px; font-size: 18px;" class="shortcut-button bg-grayLight bg-active-darkBlue fg-white ItemButtons">Add</button>
    </div>
</div>