<style>
    .cashPaymentViewContainer{
        height: 312px;
    }
    .cashPaymentViewButton{
        width: 100%;
        margin-top: 8px;
        height: 45px;
        font-size: 18px;
    }
</style>

<div>
    <div class="cashPaymentViewContainer">
        <label class="CloudFont Small-CloudFont">Cash Payment :</label>
        <div class="input-control text full-size full-width">
            <input ng-model="Payment.PaymentDetailDto.PayAmount" class="DefaultInputNumber" type="number">
        </div>
        <div>
            <button ng-click="Payment.AddPayment(Payment.PaymentModes.CashPayment)" class="cashPaymentViewButton shortcut-button bg-grayLight bg-active-darkBlue fg-white ItemButtons">Add</button>
            <button ng-click="Payment.SavePayment()" class="cashPaymentViewButton shortcut-button bg-grayLight bg-active-darkBlue fg-white ItemButtons">Save</button>
        </div>
        <div ng-include="'views/home/leftPanel/mainDisplayPanel/paymentView/paymentsListView.html'"></div>
    </div>
    <div ng-include="'views/home/leftPanel/mainDisplayPanel/commonSubViews/pricingView.html'"></div>
</div>