<style>
    .dutyMealPaymentViewTitleLable{
        display: block;
    }
    .dutyMealPaymentViewContainer{
        clear: both;
        height: 375px;
    }
    .dutyMealPaymentViewAddButton{
        width: 100%;
        margin-top: 8px;
        height: 45px;
        font-size: 18px;
    }
</style>

<div>
<label class="dutyMealPaymentViewTitleLable CloudFont Small-CloudFont">Duty Meal Payment :</label>
<div class="dutyMealPaymentViewContainer">
    <label class="CloudFont Small-CloudFont">Pay amount :</label><br/>
    <input ng-model="Payment.PaymentDetailDto.PayAmount" class="DefaultInputNumber" type="number"><br/>
    <label class="CloudFont Small-CloudFont">Employee :</label><br/>
    <input ng-model="Payment.PaymentDetailDto.EmployeeID" class="DefaultInputText" type="text"><br/>
</div>
<div>
    <button ng-click="Payment.AddPayment(Payment.PaymentModes.DutyMealPayment)" class="dutyMealPaymentViewAddButton shortcut-button bg-grayLight bg-active-darkBlue fg-white ItemButtons">Add</button>
</div>
</div>