<ng-form name="guestCreationForm">

    <div ng-controller="GuestCreationController">
        <h5>Phone Number* :</h5>

        <div class="input-control number"
             data-role="input"
             style="width: 100%;">
            <input type="text"
                   placeholder="+94xxxxxxxx"
                   name="phoneNo"
                   ng-pattern="phoneNumberPattern"
                   ng-model="LeftPanelDataModule.AdvanceDeposit.GuestID"
                   required>
            <br>
            <span class="error" ng-show="guestCreationForm.phoneNo.$error.pattern">
                Please Enter valid phone number
            </span>
        </div>

        <h5>Email* :</h5>

        <div class="input-control text"
             data-role="input"
             style="width: 100%;">
            <input type="email"
                   placeholder="user@example.com"
                   name="email"
                   ng-pattern="emailPattern"
                   ng-model="LeftPanelDataModule.AdvanceDeposit.Email"
                   required>
            <br>
            <span class="error" ng-show="guestCreationForm.email.$error.pattern">
                Please Enter valid email address
            </span>
        </div>
        <div>
            <label class="input-control radio">
                <input type="radio"
                       name="title"
                       ng-model="LeftPanelDataModule.AdvanceDeposit.Title"
                       value="1"
                       checked>
                <span class="check"></span>
                <span class="caption">Mr</span>
            </label>
            <label class="input-control radio">
                <input type="radio" name="title"
                       ng-model="LeftPanelDataModule.AdvanceDeposit.Title" value="2">
                <span class="check"></span>
                <span class="caption">Mrs</span>
            </label>
            <label class="input-control radio">
                <input type="radio" name="title"
                       ng-model="LeftPanelDataModule.AdvanceDeposit.Title" value="3">
                <span class="check"></span>
                <span class="caption">Miss</span>
            </label>
            <label class="input-control radio">
                <input type="radio" name="title"
                       ng-model="LeftPanelDataModule.AdvanceDeposit.Title" value="4">
                <span class="check"></span>
                <span class="caption">Dr</span>
            </label>
        </div>
        <h5>First Name* :</h5>

        <div class="input-control text"
             data-role="input"
             style="width: 100%;">
            <input type="text"
                   placeholder="First Name.."
                   ng-model="LeftPanelDataModule.AdvanceDeposit.FirstName">
        </div>
        <h5>Last Name :</h5>

        <div class="input-control text"
             data-role="input"
             style="width: 100%;">
            <input type="text"
                   placeholder="Last Name.."
                   ng-model="LeftPanelDataModule.AdvanceDeposit.LastName">
        </div>
        <h5>Remarks :</h5>

        <div class="input-control text"
             data-role="input"
             style="width: 100%;">
            <input type="text"
                   placeholder="Remarks.."
                   ng-model="LeftPanelDataModule.AdvanceDeposit.Remarks">
        </div>
        <div>
            <button class="button {{(LeftPanelDataModule.AdvanceDeposit.SelectedGuest == null) ? 'primary' : ''}}"
                    ng-disabled="LeftPanelDataModule.AdvanceDeposit.SelectedGuest != null"
                    style="width: 100%; height: 3rem;" ng-click="GuestCreationDataModule.CreateGuest()">Create New Guest
            </button>
        </div>
    </div>
</ng-form>