<div ng-controller="DiscountPanelController" style="height: 100%;">
  <!--  <tax-discount-model-box
            taxes="Taxes"
            discounts="Discounts"
            order-details="OrderDetails"
            order-header="OrderHeader"
            service-charge="ServiceCharge"
            callback="Callback"
            style="display: block;">
            </tax-discount-model-box>-->
    <div class="grid" style="">
        <div class="row cells3"
             data-role="group"
             data-group-type="one-state"
             data-button-style="class">
            <div class="cell" style="text-align: center;">
                <button class="button primary active"
                        style="width: 10rem; height: 2.5rem;"
                        ng-click="DiscountPanelDataModule.FilterByFoodItems()">Normal</button>
            </div>
            <div class="cell" style="text-align: center;">
                <button class="button primary"
                        style="width: 10rem; height: 2.5rem;"
                        ng-click="DiscountPanelDataModule.FilterBySubCategory()">Food Type</button>
            </div>
            <div class="cell" style="text-align: center;">
                <button class="button primary"
                        style="width: 10rem; height: 2.5rem;"
                        ng-click="DiscountPanelDataModule.FilterByCategory()">Food Category</button>
            </div>
        </div>
    </div>
    <!-- Food items -->
    <div style="height: 47%; overflow: auto; border: 1px solid #d8caca;">
        <table class="table">
            <thead>
            <tr>
                <th class="">Food Items</th>
                <th class="">Qty</th>
                <th class="">Net Amount</th>
                <th class="">Discount Amount</th>
                <th class="">Discount Rate</th>
                <th class=""></th>
                <th class="">Net Price</th>
            </tr>
            </thead>
            <thead ng-repeat="item in DiscountPanelDataModule.Group.SubGroups"
                   ng-if="DiscountPanelDataModule.Group.GroupName!=='FoodItem'">
            <tr>
                <th class="" colspan="5"><h4 style="text-indent: 2rem;">{{item.SubGroupName}}</h4></th>
                <th class=""><button class="button"
                                     ng-click="DiscountPanelDataModule.DiscountSelection.OpenDiscountPopup(item)">%</button></th>
                <th class=""></th>
            </tr>
            <tr ng-repeat="subGroupItem in item.Items">
                <th class="">{{subGroupItem.Name}}</th>
                <th class="">{{subGroupItem.Quantity}}</th>
                <th class="">{{subGroupItem.NetPrice}}</th>
                <th class="">{{subGroupItem.LineDiscountPrice}}</th>
                <th class="">{{DiscountPanelDataModule.DiscountSelection.GetDiscountRate(subGroupItem.LineDiscountID)}}</th>
                <th class=""><button class="button"
                                     ng-click="DiscountPanelDataModule.DiscountSelection.OpenDiscountPopup(subGroupItem)"
                                     ng-disabled="subGroupItem.IsNet">%</button></th>
                <th class=""><button class="button"
                                     ng-click="DiscountPanelDataModule.NetPriceToggle(subGroupItem)">{{(subGroupItem.IsNet) ? 'ON' : 'OFF'}}</button></th>
            </tr>
            </thead>
            <thead ng-if="DiscountPanelDataModule.Group.GroupName==='FoodItem'"
                   ng-repeat="item in DiscountPanelDataModule.Group.SubGroups">
            <tr ng-repeat="foodItem in item.Items">
                <th class="">{{foodItem.Name}}</th>
                <th class="">{{foodItem.Quantity}}</th>
                <th class="">{{foodItem.NetPrice}}</th>
                <th class="">{{foodItem.LineDiscountPrice}}</th>
                <th class="">{{DiscountPanelDataModule.DiscountSelection.GetDiscountRate(foodItem.LineDiscountID)}}</th>
                <th class=""><button class="button"
                                     ng-click="DiscountPanelDataModule.DiscountSelection.OpenDiscountPopup(foodItem)"
                                     ng-disabled="foodItem.IsNet">%</button></th>
                <th class=""><button class="button"
                                     ng-click="DiscountPanelDataModule.NetPriceToggle(foodItem)">{{(foodItem.IsNet) ? 'ON' : 'OFF'}}</button></th>
            </tr>
            </thead>
        </table>
    </div>
    <!-- Order summary -->
    <div style="height: 36%; border: 1px solid #d8caca;">
        <table class="table">
            <thead>
                <tr>
                    <th class=""><h4 style="margin: 0.3rem 0;">Net Total : </h4></th>
                    <th class=""><h4 style="margin: 0.3rem 0; width: 10rem;">{{DiscountPanelDataModule.Order.OrderHeader.NetPrice | currency : 'Rs. ' : 2}}</h4></th>
                    <th class=""></th>
                </tr>
                <tr>
                    <th class=""><h4 style="margin: 0.3rem 0;">Service Charge : </h4></th>
                    <th class=""><h4 style="margin: 0.3rem 0; width: 10rem;">{{DiscountPanelDataModule.Order.OrderHeader.ServiceChargePrice | currency : 'Rs. ' : 2}}</h4></th>
                    <th class="">
                        <button class="button"
                                ng-click="DiscountPanelDataModule.ServiceChargeToggle()">{{(DiscountPanelDataModule.Order.OrderHeader.IsHeaderServiceChargeOn) ? 'SC ON' : 'SC OFF'}}</button>
                    </th>
                </tr>
                <tr>
                    <th class=""><h4 style="margin: 0.3rem 0;">Tax Total : </h4></th>
                    <th class=""><h4 style="margin: 0.3rem 0; width: 10rem;">{{DiscountPanelDataModule.Order.OrderHeader.TaxPrice | currency : 'Rs. ' : 2}}</h4></th>
                    <th class="">
                        <button class="button"
                                ng-click="DiscountPanelDataModule.VAT.VatToggle()">{{(DiscountPanelDataModule.VAT.IsVatOn==false) ? 'VAT OFF' : 'VAT ON'}}</button>
                    </th>
                </tr>
                <tr>
                    <th class=""><h4 style="margin: 0.3rem 0;">Grand Total : </h4></th>
                    <th class=""><h4 style="margin: 0.3rem 0; width: 10rem;">{{DiscountPanelDataModule.Order.OrderHeader.TotalPrice | currency : 'Rs. ' : 2}}</h4></th>
                    <th class=""></th>
                </tr>
                <tr>
                    <th class=""><h4 style="margin: 0.3rem 0;">Discount (%) : </h4></th>
                    <th class=""><h4 style="margin: 0.3rem 0; width: 10rem;">{{DiscountPanelDataModule.DiscountSelection.GetDiscountRate(DiscountPanelDataModule.Order.OrderHeader.DiscountID)}}&percnt;</h4></th>
                    <th class=""><button class="button"
                                         ng-click="DiscountPanelDataModule.DiscountSelection.OpenDiscountPopup({}, true)">%</button></th>
                </tr>
                <tr>
                    <th class=""><h4 style="margin: 0.4rem 0;">Discount : </h4></th>
                    <th class=""><h4 style="margin: 0.3rem 0; width: 10rem;">{{(DiscountPanelDataModule.Order.OrderHeader.DiscountPrice + DiscountPanelDataModule.Order.OrderHeader.LineDiscountPrice) | currency : 'Rs. ' : 2}}</h4></th>
                    <th class=""></th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="position: relative; border: 1px solid #d8caca;">
        <button class="button primary"
                style="width: 10rem; height: 2.5rem;"
                ng-click="DiscountPanelDataModule.PermissionRetrieval.OpenPopup()">Confirm</button>
        <button class="button primary"
                style="width: 10rem; height: 2.5rem; position: absolute; right: 0; top: 0;"
                ng-click="DiscountPanelDataModule.ReloadOrder()">Cancel</button>
    </div>
    <users-selection-directive callback="DiscountPanelDataModule.DiscountSelection.DiscountCallback"
                               showup="DiscountPanelDataModule.DiscountSelection.IsDiscountListOpen"
                               options="DiscountPanelDataModule.Discounts"></users-selection-directive>
    <permission-retrieval-directive users="DiscountPanelDataModule.PermissionRetrieval.Users"
                                    user-levels="DiscountPanelDataModule.PermissionRetrieval.UserLevels"
                                    callback="DiscountPanelDataModule.PermissionRetrieval.Callback"
                                    show="DiscountPanelDataModule.PermissionRetrieval.IsPopupOpen"></permission-retrieval-directive>
</div>