<style>
    .orderPanelView_verticleFoodTypeBar{
        width: 125px !important;
        float: left; !important;
        margin-top: 4px;
    }
    .orderPanelViewFoodBar{
        float: left;
        padding: 4px !important;
        width: 455px !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        height: 420px !important;
    }
    .orderPanelView_guest_section_bar_directive{
        position:absolute !important;
        bottom: 0px !important;
        left: 4px !important;
    }
</style>

<div id="HorizontalFoodCategoryBar" ng-include="'views/home/middlePanel/orderPanel/horizontalFoodCategoryPanelView.html'">
</div>

<div id="VerticalFoodTypeBar" class="orderPanelView_verticleFoodTypeBar" ng-include="'views/home/middlePanel/orderPanel/verticalFoodTypePanelView.html'">
</div>

<div  id="FoodItemBar" ng-include="'views/home/middlePanel/orderPanel/filteredFoodItemsPanelView.html'" class="FilteredItemsPanel orderPanelViewFoodBar">
</div>
<guest-selection-bar-directive ng-if="(HomeDataModule.SelectedOrder.OrderCategory.Code == HomeDataModule.OrderCategories.DiningOrder.Code)"
                               guest-count="HomeDataModule.SelectedOrder.Reservation.NoOfGuest"
                               selected-cover="HomeDataModule.SelectedOrder.CoverNumber"
                               active-class="'CloudPosUiStructureButtonsThemeCatThreeActive'"
                               inactive-class="'CloudPosUiStructureButtonsThemeCatThree'"
                               class="orderPanelView_guest_section_bar_directive">
</guest-selection-bar-directive>