<style>
    .bottomMenuView{
        display: block;
    }
    .bottomMenuView_leftBtn{
        width: 24%; height: 65px
    }
    .bottomMenuView_paymentButton{
        width: 74.5%; height: 50px;
    }
    .bottomMenuView_paymentDesableNaviBtn{
        width: 24.1%; height: 50px;
    }
</style>

<div class="bottomMenuView">
    <div>
        <button id="LeftPanelBottomMenuPrintBtn1"
                ng-disabled="(HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled && HomeDataModule.FlowHandlerVariables.isPaymentEnabled==false) || HomeDataModule.SelectedOrder.Order.OrderID==0 || HomeDataModule.SelectedOrder.Order.OrderID===undefined ||
                HomeDataModule.SelectedOrder.OrderCategory.Code==HomeDataModule.OrderCategories.TakeoutOrder.Code"
                class="button bottomMenuView_leftBtn {{((HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled && HomeDataModule.FlowHandlerVariables.isPaymentEnabled==false) || HomeDataModule.SelectedOrder.Order.OrderID==0 || HomeDataModule.SelectedOrder.Order.OrderID===undefined || HomeDataModule.SelectedOrder.OrderCategory.Code==HomeDataModule.OrderCategories.TakeoutOrder.Code) ? '' : 'primary'}}"
                >
            <span class="icon mif-print mif-2x"></span>
        </button>
        <button id="LeftPanelBottomMenuReorderBtn1"
                ng-disabled="(HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled && HomeDataModule.FlowHandlerVariables.isPaymentEnabled==false) || HomeDataModule.SelectedOrder.Order.OrderID==0 || HomeDataModule.SelectedOrder.Order.OrderID===undefined || HomeDataModule.FlowHandlerVariables.isInPayment"
                class="button bottomMenuView_leftBtn {{((HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled && HomeDataModule.FlowHandlerVariables.isPaymentEnabled==false) || HomeDataModule.SelectedOrder.Order.OrderID==0 || HomeDataModule.SelectedOrder.Order.OrderID===undefined || HomeDataModule.FlowHandlerVariables.isInPayment) ? '' : 'primary'}}"
                ng-click="LeftPanelDataModule.Reorder.Reorder()"
              >
            <span class="icon mif-redo mif-2x"></span>
        </button>
        <button id="LeftPanelBottomMenuSplitOrderBtn1"
                ng-disabled="!(HomeDataModule.SelectedOrder.OrderCategory === HomeDataModule.OrderCategories.DiningOrder &&
                HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled==false && HomeDataModule.FlowHandlerVariables.isPaymentEnabled)"
                ng-click="UiHandlers.HomePageUi.LeftPanel.ToggleOrderSplit()"
                class="button bottomMenuView_leftBtn {{(HomeDataModule.SelectedOrder.OrderCategory === HomeDataModule.OrderCategories.DiningOrder &&
                HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled==false &&
                HomeDataModule.FlowHandlerVariables.isPaymentEnabled) ? 'primary' : ''}}"
                >
            <span class="icon mif-enlarge2 mif-2x"></span>
        </button>
        <button id=""
                ng-disabled="HomeDataModule.SelectedOrder.Order.OrderID==undefined || HomeDataModule.SelectedOrder.Order.OrderID==0 || HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled==true"
                ng-click="UiHandlers.HomePageUi.LeftPanel.ToDiscountPanel()"
                class="button bottomMenuView_leftBtn {{(HomeDataModule.SelectedOrder.Order.OrderID==undefined ||
                HomeDataModule.SelectedOrder.Order.OrderID==0 || HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled==true) ? '' : 'primary'}}"
                >
            <span class="icon mif-2x">%</span>
        </button>
    </div>
</div>
<div>
    <button id="LeftPanelBottomMenuSavePaymentBtn1"
            ng-disabled="HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled==false &&
            HomeDataModule.FlowHandlerVariables.isPaymentEnabled==false"
            ng-click="UiHandlers.HomePageUi.LeftPanel.SavePaymentButton()"
            class="button bottomMenuView_paymentButton {{(HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled ||
            HomeDataModule.FlowHandlerVariables.isPaymentEnabled) ? 'primary' : ''}}"
            >
        <span class="icon {{(HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled &&
        HomeDataModule.FlowHandlerVariables.isPaymentEnabled==false) ? 'mif-floppy-disk' :
        (HomeDataModule.FlowHandlerVariables.isOrderSaveEnabled==false && HomeDataModule.FlowHandlerVariables.isPaymentEnabled) ? 'mif-money' : 'mif-floppy-disk'}} mif-2x"></span>
    </button>
    <button
            ng-disabled="!Navigation.DisableNavigationButtons"
            class="button bottomMenuView_paymentDesableNaviBtn {{(Navigation.DisableNavigationButtons) ? 'primary' : ''}}"
            ng-click="HomeDataModule.UnfreezScreen()">
        <span class="icon mif-cross"></span>
    </button>
</div>