<style>
    .ordersDisplayView_DisplayPanel{
        height: 100%;
    }
    .ordersDisplayView_DisplayPanel_button_holder{
        height: 31rem; overflow: auto;
    }
    .ordersDisplayView_DisplayPanel_button{
        width: 100%; display: block; text-align: left; height: auto;
    }
</style>

<div class="ordersDisplayView_DisplayPanel"
     ng-controller="OrdersDisplayPanel"
     data-role="group"
     data-group-type="one-state"
     data-group-type="one-state">
<div class="accordion"
         data-role="accordion"
         data-close-any="true">
        <div class="frame active">
            <div class="heading">Dining Orders</div>
            <div class="content">
                <div class="ordersDisplayView_DisplayPanel_button_holder">
                    <button class="button ordersDisplayView_DisplayPanel_button"
                            ng-repeat="item in OrdersDisplayDataModule.Orders.DiningOrders"
                            ng-click="OrdersDisplayDataModule.SelectOrder(item, HomeDataModule.OrderCategories.DiningOrder)">
                        <h5>Tables : <span ng-repeat="table in item.Tables track by $index">{{table}},&nbsp</span></h5>
                        <h5>Guest Name : {{item.GuestName}}</h5>
                        <!--<h5>Phone No : {{item.GuestID}}</h5>-->
                        <h5>TimeSlot : {{item.TimeSlot}}</h5>
                        <h5>Amount : {{item.TotalPrice | currency : 'Rs. ' : 2}}</h5>
                    </button>
                </div>
            </div>
        </div>

        <div class="frame">
            <div class="heading">Takeout Orders</div>
            <div class="content">
                <div class="ordersDisplayView_DisplayPanel_button_holder">
                    <button class="button ordersDisplayView_DisplayPanel_button"

                            ng-repeat="item in OrdersDisplayDataModule.Orders.TakeoutOrders"
                            ng-click="OrdersDisplayDataModule.SelectOrder(item, HomeDataModule.OrderCategories.TakeoutOrder)">
                        <h5>Guest Name : {{item.GuestName}}</h5>
                        <h5>Phone No : {{item.GuestID}}</h5>
                        <h5>Amount : {{item.TotalPrice | currency : 'Rs. ' : 2}}</h5>
                    </button>
                </div>
            </div>
        </div>

        <div class="frame">
            <div class="heading">Delivery Orders</div>
            <div class="content">
                <div class="ordersDisplayView_DisplayPanel_button_holder">
                    <button class="button ordersDisplayView_DisplayPanel_button"

                            ng-repeat="item in OrdersDisplayDataModule.Orders.DeliveryOrders"
                            ng-click="OrdersDisplayDataModule.SelectOrder(item, HomeDataModule.OrderCategories.DeliveryOrder)">
                        <h5>Guest Name : {{item.GuestName}}</h5>
                        <h5>Phone No : {{item.GuestID}}</h5>
                        <h5>Amount : {{item.TotalPrice | currency : 'Rs. ' : 2}}</h5>
                    </button>
                </div>
            </div>
        </div>

        <div class="frame">
            <div class="heading">Tab Orders</div>
            <div class="content">
                <div class="ordersDisplayView_DisplayPanel_button_holder">
                    <button class="button ordersDisplayView_DisplayPanel_button"
                            ng-repeat="item in OrdersDisplayDataModule.Orders.TabOrders"
                            ng-click="OrdersDisplayDataModule.SelectOrder(item, HomeDataModule.OrderCategories.TabOrder)">
                        <h5>Guest Name : {{item.GuestName}}</h5>
                        <h5>Phone No : {{item.GuestID}}</h5>
                        <h5>Amount : {{item.TotalPrice | currency : 'Rs. ' : 2}}</h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>