<div class="bgFrame" style="top: 0; left: 0; z-index: 32; display: none; align-items: center; position: fixed; background-color: rgba(149, 149, 222, 0.41);; width: 100%; height: 100%;">
    <div style="display: inline-block; position: relative; width: 200px; height: 400px; margin: auto; background-color: #7f9494; border: 4px solid gray;">
<!--        <select>
            <option ng-click="SelectOption(item)" ng-repeat="item in options track by $index">{{item.FirstName + " " + item.LastName}}</option>
        </select>-->
        <div style="height: 334px !important; overflow: auto;">
                <!-- <option ng-click="SelectOption(item)" ng-repeat="item in options track by $index">{{item.FirstName + " " + item.LastName}}</option>-->
            <!--<button class="CloudPosUiStructureButtonsThemeCatThree ItemButtons" style="display: block;" ng-click="SelectOption(item)" ng-repeat="item in options track by $index">{{item.FirstName + " " + item.LastName}}</button>-->
            <div class="listview">
                <div ng-if="item.FirstName !== undefined" ng-click="SelectOption($event, item)" class="list" ng-repeat="item in options track by $index">
                    <span class="list-title">{{item.FirstName + " " + item.LastName}}</span>
                </div>
                <div ng-if="item.FirstName === undefined" ng-click="SelectOption($event, item)" class="list" ng-repeat="item in options track by $index">
                    <span class="list-title">{{item.Description}}</span>
                </div>
            </div>
        </div>
        <div style="position: relative; height: 58px;">
            <button ng-click="ClosePopup(true)" style="margin: 2px; position: absolute; bottom: 0px; left: 0px; height: 50px; width: 80px;" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
                <span class="title CloudFont Small-CloudFont">Confirm</span>
            </button>
            <button ng-click="ClosePopup(false)" style="margin: 2px; position: absolute; bottom: 0px; right: 0px; height: 50px; width: 80px;" class="shortcut-button bg-cyan bg-active-darkBlue fg-white">
                <span class="title CloudFont Small-CloudFont">Cancel</span>
            </button>
        </div>
    </div>
</div>