<div style="display: inline-block !important; width: 100%;">
    <div>
        <button  id="carouselDown"
                 style="width: 126px !important; height: 60px !important;"
                 class="CarouselNavButtons button primary">
            <span class="icon mif-expand-less"></span>
        </button>
    </div>
    <div id="carouselBodyArea">

    </div>
    <div>
        <button  id="carouselUp"
                 style="width: 126px !important; height: 60px !important;"
                 class="CarouselNavButtons button primary">
            <span class="icon mif-expand-more"></span>
        </button>
    </div>
</div>