<style>
    .verticleCarouselDerectiveView{
        display: inline-block !important; width: 100%;
    }
    .verticleCarouselDerectiveViewDownBtn{
        width: 126px !important; height: 60px !important;
    }
    .verticleCarouselDerectiveViewUpBtn{
        width: 126px !important; height: 60px !important;
    }
</style>

<div class="verticleCarouselDerectiveView">
    <div>
        <button  id="carouselDown"

                 class="CarouselNavButtons button primary verticleCarouselDerectiveViewDownBtn">
            <span class="icon mif-expand-less"></span>
        </button>
    </div>
    <div id="carouselBodyArea">

    </div>
    <div>
        <button  id="carouselUp"

                 class="CarouselNavButtons button primary">
            <span class="icon mif-expand-more"></span>
        </button>
    </div>
</div>