<style>
    .homeView_middlePanel{
        position: relative !important;
    }
    .homeView_RightPanel_newOrder_button_holder{
        margin: 12px 0px 12px 0px !important;
    }
    .homeView_RightPanel_newOrder_button{
        height: 60px !important; width: 80%;
        display: block; margin: 0.2rem auto;
    }
    .homeView_RightPanel_newOrder_button_title{
        font-size: 14px;
        font-weight: bold;
    }
</style>

<div ng-controller="HomeController">
<div ng-controller="HomeLeftPanelController"
     class="CloudPosUiStructureThreePanelStructure CloudPosUiStructureLeftPanel CloudPosUiStructurePanelsTheme"
     ng-include="UrlFactory.UrlHolders.HomePageLeftPanelMainBody">
</div>

<div
     ng-controller="HomeMiddlePanelController"
     ng-include="UrlFactory.UrlHolders.HomePageMiddlePanelBodyArea"
     class="homeView_middlePanel CloudPosUiStructureThreePanelStructure CloudPosUiStructureMiddlePanel CloudPosUiStructurePanelsTheme CloudPosUiStructureHomePage CloudPosUiStructureHomePageMiddlePanel">

</div>

<div ng-controller="HomeRightPanelController"
     class="CloudPosUiStructureThreePanelStructure CloudPosUiStructureRightPanel CloudPosUiStructurePanelsTheme CloudPosUiStructureHomePage CloudPosUiStructureHomePageRightPanel">

    <div ng-include="'views/home/rightPanel/orderCategoryView.html'">
    </div>

    <div class="homeView_RightPanel_newOrder_button_holder" ng-show="false">
        <button ng-click="HomeDataModule.RightPanel.AddNewOrder()"
                ng-click="HomeDataModule.MiddlePanel.AddNewOrder()"
                class="button primary homeView_RightPanel_newOrder_button">
            <span class="title homeView_RightPanel_newOrder_button_title">New Order</span>
        </button>
    </div>

    <div ng-include="'views/home/rightPanel/filteredOrderListView.html'"
         ng-show="false">
    </div>
</div>
</div>