<style>
    .advancePayemtView_grid{
        margin: 0;
    }
    .advancePayemtView_dropdown{
        width: 100%;
    }
    .advancePayemtView_input_holder{
        display: block; width: 100%;
    }
</style>

<div class="grid advancePayemtView_grid">
    <div class="row cells4">
        <div class="cell">
            <h5>Advance Deposits :&nbsp;</h5>
        </div>
        <div class="cell colspan3">
            <div class="dropdown-button full-size">
                <button class="button dropdown-toggle advancePayemtView_dropdown">
                    {{(PaymentDataModule.Payment.AdvancePayment.SelectedAdvanceDeposit == null) ? "Select an advance deposit" : ("Guest Phone No : " + PaymentDataModule.Payment.AdvancePayment.SelectedAdvanceDeposit.GuestId)}}</button>
                <ul class="split-content d-menu" data-role="dropdown">
                    <li ng-repeat="item in PaymentDataModule.Payment.AdvanceDepositList"
                        style=""
                        ng-if="!PaymentDataModule.Payment.AdvancePayment.IsAdvanceDepositAlreadyAdded(item)"
                        ng-click="PaymentDataModule.Payment.AdvancePayment.SetAdvanceDeposit(item)"><a href="#">{{"Guest Phone No : " + item.GuestId}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="grid advancePayemtView_grid">
    <div class="row cells4">
        <div class="cell">
            <h5>Available Balance :&nbsp;</h5>
        </div>
        <div class="cell colspan3">
            <div class="input-control number advancePayemtView_input_holder" data-role="input">
                <input type="number"
                       placeholder="Available Balance.."
                       min="0"
                       disabled
                       ng-model="PaymentDataModule.Payment.AdvancePayment.SelectedAdvanceDeposit.BalanceAmount">
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
        </div>
    </div>
</div>


<div class="grid advancePayemtView_grid">
    <div class="row cells4">
        <div class="cell">
            <h5>Amount :&nbsp;</h5>
        </div>
        <div class="cell colspan3">
            <div class="input-control number advancePayemtView_input_holder" data-role="input" >
                <input type="number"
                       placeholder="Amount.."
                       min="0"
                       disabled
                       ng-model="PaymentDataModule.Payment.AdvancePayment.SelectedAdvanceDeposit.BalanceAmount">
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
        </div>
    </div>
</div>


