<style>
    .chequePaymentView_grid{
        margin: 0;
    }
    .chequePaymentView_input_holder{
        display: block; width: 100%;
    }
    .chequePaymentView_dropdown{
        width: 100%;
    }
    .chequePaymentView_dateinput_holder{
        overflow: hidden;
    }
</style>

<div class="grid chequePaymentView_grid">
    <div class="row cells4">
        <div class="cell">
            <h5>Cheque No :&nbsp;</h5>
        </div>
        <div class="cell colspan3">
            <div class="input-control number chequePaymentView_input_holder" data-role="input">
                <input type="number"
                       placeholder="Check No.."
                       ng-model="PaymentDataModule.Payment.PaymentDetailDto.ChequeNo">
            </div>
        </div>
    </div>
</div>

<div class="grid chequePaymentView_grid">
    <div class="row cells4">
        <div class="cell">
            <h5>Pay Amount :&nbsp;</h5>
        </div>
        <div class="cell colspan3">
            <div class="input-control text chequePaymentView_input_holder" data-role="input">
                <input type="text"
                       placeholder="Pay Amount.."
                       min="0"
                       ng-model="PaymentDataModule.Payment.PaymentDetailDto.PayAmount">
            </div>
        </div>
    </div>
</div>


<div class="grid chequePaymentView_grid">
    <div class="row cells8">
        <div class="cell colspan1">
            <h5>Bank :&nbsp;</h5>
        </div>
        <div class="cell colspan3">
            <div class="dropdown-button full-size">
                <button class="button dropdown-toggle chequePaymentView_dropdown" >
                       {{(PaymentDataModule.Payment.Cheque.SelectedBank == null) ? "Select a bank" : PaymentDataModule.Payment.Cheque.SelectedBank.BankName}}</button>
                <ul class="split-content d-menu" data-role="dropdown">
                    <li ng-repeat="bank in PaymentDataModule.Payment.BanksList"
                        ng-click="PaymentDataModule.Payment.LoadBranches(bank)"><a href="#">{{bank.BankName}}</a></li>
                </ul>
            </div>
        </div>
        <div class="cell colspan1">
            <h5>Branch :&nbsp;</h5>
        </div>
        <div class="cell colspan3">
            <div class="dropdown-button full-size">
                <button class="button dropdown-toggle chequePaymentView_dropdown">
                    {{(PaymentDataModule.Payment.Cheque.SelectedBranch == null) ? "Select a branch" : PaymentDataModule.Payment.Cheque.SelectedBranch.BranchName}}</button>
                <ul class="split-content d-menu" data-role="dropdown">
                    <li ng-repeat="branch in PaymentDataModule.Payment.BranchesList"
                        ng-click="PaymentDataModule.Payment.BranchClick(branch)"><a href="#">{{branch.BranchName}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="grid chequePaymentView_grid" >
    <div class="row cells8">
        <div class="cell colspan1">
            <h5>Cheque Date :&nbsp;</h5>
        </div>
        <div class="cell colspan3 chequePaymentView_dateinput_holder">
            <!--<div class="input-control full-size text" data-role="datepicker" data-position="left">
                <input type="text"
                       placeholder="Cheque Date.."
                       ng-model="PaymentDataModule.Payment.PaymentDetailDto.ChequeDate">
                <button class="button"><span class="mif-calendar"></span></button>
            </div>-->
                        <md-datepicker ng-model="PaymentDataModule.Payment.PaymentDetailDto.ChequeDate"
                                       md-placeholder="Enter date"></md-datepicker>

        </div>
        <div class="cell colspan1">
            <h5>Realized Date</h5>
        </div>
        <div class="cell colspan3 chequePaymentView_dateinput_holder">
            <!--<div class="input-control full-size text"
                 data-role="datepicker">
                <input type="text"
                       placeholder="Realized Date.."
                       ng-model="PaymentDataModule.Payment.PaymentDetailDto.ChequeRealizedDate">
                <button class="button"><span class="mif-calendar"></span></button>
            </div>-->
            <md-datepicker ng-model="PaymentDataModule.Payment.PaymentDetailDto.ChequeRealizedDate"
                           md-placeholder="Enter date"
                           md-min-date="PaymentDataModule.Payment.Cheque.MinimumRealizedDate"></md-datepicker>
        </div>
    </div>
</div>