<style>
    .creditCardPaymentView_holderName_input_holder{
        display: block; width: 100%;
    }
    .creditCardPaymentView_grid{
        margin: 0;
    }
    .creditCardPaymentView_cardType_button{
        height: 3rem; width: 6rem; margin: auto; color: rebeccapurple;
    }
    .creditCardPaymentView_creditCard_button_holder{
        display: flex; margin: 0;
    }
</style>

<div>


    <div class="grid creditCardPaymentView_grid" >
        <div class="row cells4">
            <div class="cell">
                <h5>Holder Name :&nbsp;</h5>
            </div>
            <div class="cell colspan3 ">
                <div class="input-control text creditCardPaymentView_holderName_input_holder" data-role="input">
                    <input type="text"
                           placeholder="Holder name.."
                           ng-model="PaymentDataModule.Payment.PaymentDetailDto.CreditCardHolderName">
                </div>
            </div>
        </div>
    </div>


    <div class="grid creditCardPaymentView_grid">
        <div class="row cells4">
            <div class="cell">
                <h5>Card No :&nbsp;</h5>
            </div>
            <div class="cell colspan3">
                <div class="input-control number creditCardPaymentView_holderName_input_holder" data-role="input">
                    <input type="number"
                           placeholder="Credit Card No.."
                           ng-model="PaymentDataModule.Payment.PaymentDetailDto.CreditCardNo">
                </div>
            </div>
        </div>
    </div>


    <div class="grid creditCardPaymentView_grid">
        <div class="row cells4">
            <div class="cell">
                <h5>Pay Amount :&nbsp;</h5>
            </div>
            <div class="cell colspan3">
                <div class="input-control number creditCardPaymentView_holderName_input_holder" data-role="input">
                    <input type="number"
                           min="0"
                           placeholder="Pay Amount.."
                           ng-model="PaymentDataModule.Payment.PaymentDetailDto.PayAmount">
                </div>
            </div>
        </div>
    </div>



    <div class="grid creditCardPaymentView_grid">
        <div class="row cells4" data-role="group" data-group-type="one-state">
            <div class="cell creditCardPaymentView_creditCard_button_holder">
                <button class="button mif-visa mif-3x creditCardPaymentView_cardType_button"

                        ng-click="PaymentDataModule.Payment.PaymentDetailDto.CreditCardTypeID=1"></button>
            </div>
            <div class="cell creditCardPaymentView_creditCard_button_holder" >
                <button class="button mif-mastercard mif-3x creditCardPaymentView_cardType_button"

                        ng-click="PaymentDataModule.Payment.PaymentDetailDto.CreditCardTypeID=2"></button>
            </div>
            <div class="cell creditCardPaymentView_creditCard_button_holder">
                <button class="button mif-amex mif-3x creditCardPaymentView_cardType_button"

                        ng-click="PaymentDataModule.Payment.PaymentDetailDto.CreditCardTypeID=3"></button>
            </div>
            <div class="cell colspan2 creditCardPaymentView_creditCard_button_holder">
            </div>
        </div>
    </div>
  <!--  <div class="input-control text" data-role="datepicker">
        <input type="text"
               placeholder="Issue Date.."
               ng-model="PaymentDataModule.Payment.PaymentDetailDto.CreditCardIssueDate">
        <button class="button"><span class="mif-calendar"></span></button>
    </div>
    <div class="input-control text" data-role="datepicker">
        <input type="text"
               placeholder="Expiry Date.."
               ng-model="PaymentDataModule.Payment.PaymentDetailDto.CreditCardExpiryDate">
        <button class="button"><span class="mif-calendar"></span></button>
    </div>-->
</div>