<!-- 
Developed By HARUN DILUKA HESHAN
Software Engineer
Intahub (pvt) ltd.
-->
<button ng-repeat="item in orderDataModule.filteredFoodItemsAr track by $index" ng-click="addFoodItems(item.FoodId)" style="width:120px; height: 120px; border:3px solid darkgreen; background-color: lightgreen; display: inline-block; margin:0.2em; float: left;"><span style="font-size: 14px; font-weight: bold; display: block; text-align: center; font-family: sans-serif; overflow: hidden; text-overflow: ellipsis;">{{item.FoodName}}</span></button>