<style>
        label.loginFields {
            display: inline-block;
            width: 8em;
            color: antiquewhite;
            font-family: sans-serif;
            font-weight: bold;
            margin:0.2em 0em;
        }

        input[type='number'], input[type='text'], input[type='password'].loginFields {
            font-weight: bold;
            font-size: large;
        }

        button.submitButton {
            font-weight: bold;
            font-size: large;
            display: block;
            margin:0.4em auto;
            width: 15em;
        }
        
        .loginForm{
            display: flex;
            align-items: center;
            width: 1024px;
            height: 768px;
            padding-top:0.6em;
            margin: auto;
            /*background-color: rgb(14, 27, 34)*/
            background-image: url("images/background.jpg");
        }
        
        .loginFormInValidClass {
            background-color: #ff0000;
            color: white;
        }
    </style>
<div class="loginForm" data-ng-controller="LoginController">
  <div style="width: 30em; margin: auto;">
      <div class="input-control" style="width: 100%;">
          <input type="text" placeholder="Restaurant ID.." ng-model="Credentials.RestaurantId" range="">
      </div>
      <div class="input-control" style="width: 100%;">
          <input type="text" placeholder="User ID.." ng-model="Credentials.Username">
      </div>
      <div class="input-control password" data-role="input" style="width: 100%;">
          <input type="password" placeholder="User Password.." ng-model="Credentials.Password">
      </div>
      <div style="margin-top: 0.4rem;">
          <button class="button" style="width: 30%; margin: auto; display: block;"
                  ng-click="LoginDataModule.AttemptLogin()">LOGIN</button>
      </div>
  </div>
</div>