<div ng-controller="WastageController">
<!-- Left Panel -->
<div ng-controller="WastageLeftPanelController" class="CloudPosUiStructureTwoPanelStructure CloudPosUiStructureMenuPanel CloudPosUiStructurePanelsTheme" ng-include="'views/wastage/wastage/leftPanelView.html'" >

</div>

<!-- Right Panel -->
<div ng-controller="WastageRightPanelController" class="CloudPosUiStructureTwoPanelStructure CloudPosUiStructureBodyPanel CloudPosUiStructurePanelsTheme" ng-include="'views/wastage/wastage/rightPanelView.html'" >

</div>
</div>