<div data-role="group"
     data-group-type="one-state"
     style="margin-top: 0px !important;">
    <!-- Dining Order Filter -->
    <button ng-click="HomeDataModule.RightPanel.FilterOrders.DiningOrders($event)"
            class="button {{(Navigation.DisableNavigationButtons) ? '' : 'primary'}}"
            ng-disabled="Navigation.DisableNavigationButtons"
            style="height: 60px !important; width: 80%; display: block; margin: 0.2rem auto; font-size: 1rem; font-weight: 700;">
        Dining
    </button>

    <!-- Takeout Order Filter -->
    <button ng-click="HomeDataModule.RightPanel.FilterOrders.TakeoutOrders($event)"
            class="button {{(Navigation.DisableNavigationButtons || !SystemInit.AccessControl.AccessControlData.SystemMenus.TakeOut.IsMenu) ? '' : 'primary'}}"
            ng-disabled="Navigation.DisableNavigationButtons || !SystemInit.AccessControl.AccessControlData.SystemMenus.TakeOut.IsMenu"
            style="height: 60px !important; width: 80%; display: block; margin: 0.2rem auto; font-size: 1rem; font-weight: 700;">
        Takeout
    </button>

    <!-- Delivery Order Filter -->
    <button ng-click="HomeDataModule.RightPanel.FilterOrders.DeliveryOrders($event)"
            class="button {{(Navigation.DisableNavigationButtons || !SystemInit.AccessControl.AccessControlData.SystemMenus.DeliveryPage.IsMenu) ? '' : 'primary'}}"
            ng-disabled="Navigation.DisableNavigationButtons || !SystemInit.AccessControl.AccessControlData.SystemMenus.DeliveryPage.IsMenu"
            style="height: 60px !important; width: 80%; display: block; margin: 0.2rem auto; font-size: 1rem; font-weight: 700;">
        Delivery
    </button>

    <!-- Tab Order Filter -->
    <button ng-click="HomeDataModule.RightPanel.FilterOrders.TabOrders($event)"
            class="button {{(Navigation.DisableNavigationButtons || !SystemSettings.SettingsDto.SystemSettings.TabAllowed.Value || !SystemInit.AccessControl.AccessControlData.SystemMenus.TabsPage.IsMenu) ? '' : 'primary'}}"
            ng-disabled="Navigation.DisableNavigationButtons || !SystemSettings.SettingsDto.SystemSettings.TabAllowed.Value || !SystemInit.AccessControl.AccessControlData.SystemMenus.TabsPage.IsMenu"
            style="height: 60px !important; width: 80%; display: block; margin: 0.2rem auto; font-size: 1rem; font-weight: 700;">
        Tab
    </button>
</div>