<style>
    .deliveryOrderView{
        overflow: auto !important; height: 642px !important; padding-bottom: 14px !important;
    }
    .deliveryOrderViewTextContain{
        width: 100% !important;
        height: 30px !important;

    }
    .deliveryOrderViewConfirmBtnHolder{
        margin-top: 0.2em;
    }
    .deliveryOrderViewConfirmBtn{

    }
    .spanClass{
        margin-bottom: 20px;
    }
</style>

<div  class="deliveryOrderView">
    <ng-form name="myForm">
        <div>
            <label>*Phone No :</label>
        </div>
        <div class="input-control text deliveryOrderViewTextContain">
            <input type="text"
                   placeholder="+94xxxxxxxx"
                   name="phoneNo"
                   ng-pattern="phoneNumberPattern"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.PhoneNumber"
                   required/>
            <br>
            <span class="spanClass error" ng-show="myForm.phoneNo.$error.pattern">
                Please Enter valid phone number [+94711234567, 094711234567, 0711234567 ]
            </span>
        </div>
        <div>
            <label>Email :</label>
        </div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input">
            <input type="email"
                   placeholder="user@example.com"
                   name="email"
                   ng-pattern="emailPattern"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Email">
            <br>
            <span class="error" ng-show="myForm.email.$error.pattern">
                Please Enter valid email address
            </span>
        </div>
        <div>
            <label>*Title :</label>
        </div>
        <div>
            <label class="input-control radio">
                <input ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Title"
                       type="radio"
                       value="1">
                <span class="check"></span>
                <span class="caption">Mr</span>
            </label>
            <label class="input-control radio">
                <input ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Title"
                       type="radio"
                       value="2">
                <span class="check"></span>
                <span class="caption">Mrs</span>
            </label>
            <label class="input-control radio">
                <input ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Title"
                       type="radio"
                       value="3">
                <span class="check"></span>
                <span class="caption">Miss</span>
            </label>
            <label class="input-control radio">
                <input ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Title"
                       type="radio"
                       value="4">
                <span class="check"></span>
                <span class="caption">Dr</span>
            </label>
        </div>
        <div>
            <label>*First Name :</label>
        </div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input">
            <input type="text"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.FirstName">
        </div>
        <div><label>Last Name :</label></div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input">
            <input type="text"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.LastName">
        </div>
        <hr/>
        <div>
            <label>Address :</label>
        </div>

        <div class="dropdown-button">
            <button class="button dropdown-toggle">
                {{HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddress.Location}}
            </button>
            <ul class="split-content d-menu" data-role="dropdown">
                <li><a href="#"
                       ng-click="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.AddNewAddress()">
                    New Location</a></li>
                <li ng-repeat="item in HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddressesList"
                    ng-click="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddress=item"
                    ng-if="item.Status==1"><a href="#">{{item.Location}}</a></li>
            </ul>
        </div>

        <div>
            <label>Location :</label>
        </div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input" >
            <input type="text"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddress.Location">
        </div>
        <hr/>
        <div>
            <label>*Address Line 1:</label>
        </div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input" >
            <input type="text"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddress.Address1"
                   required="">
        </div>
        <div>
            <label>Address Line 2 :</label></div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input">
            <input type="text"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddress.Address2">
        </div>
        <div>
            <label>*City :</label>
        </div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input" >
            <input type="text"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddress.City">
        </div>
        <div>
            <label>State :</label>
        </div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input">
            <input type="text"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddress.State">
        </div>
        <hr/>
        <div>
            <label>*Zone Code :</label>
        </div>
        <div class="input-control deliveryOrderViewTextContain" data-role="select" >
            <select ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.SelectedDeliveryZone"
                    ng-options="item.Description for item in HomeDataModule.MiddlePanel.NewOrderPanel.DeliveryZones">
            </select>
        </div>
        <div>
            <label>Delivery Charge :</label>
        </div>
        <div class="input-control text deliveryOrderViewTextContain" data-role="input">
            <input type="text"
                   ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestAddress.DeliveryRate"
                   disabled>
        </div>
        <div class="deliveryOrderViewConfirmBtnHolder">
            <button ng-click="HomeDataModule.MiddlePanel.NewOrderPanel.CreateOrder()"
                    class="button primary deliveryOrderViewConfirmBtn"
                    ng-disabled="myForm.$invalid">
                Confirm
            </button>
        </div>
    </ng-form>
</div>
