<style>
    .takeOutOrderViewTextContain {
        width: 100%;
    }

    .takeOutOrderViewButtonContain {
        width: 100%;
    }
</style>

<ng-form name="takeoutForm">

    <div class="input-control text takeOutOrderViewTextContain" data-role="input">

        <input type="text"
               placeholder="+94xxxxxxxx"
               name="phoneNo"
               ng-pattern="phoneNumberPattern"
               ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.PhoneNumber"
               required>
        <br>
        <span class="error" ng-show="takeoutForm.phoneNo.$error.pattern">
            Please Enter valid phone number [+94711234567, 094711234567, 0711234567 ]
        </span>
    </div>
    <div>
        <label>Email :</label>
    </div>
    <div class="input-control text takeOutOrderViewTextContain" data-role="input">
        <input type="email"
               placeholder="user@example.com"
               name="email"
               ng-pattern="emailPattern"
               ng-disabled="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.GuestId>0"
               ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Email">
        <br>

    <span class="error" ng-show="takeoutForm.email.$error.pattern">
        Please Enter valid email address
    </span>
    </div>
    <div>
        <label>Title :</label>
    </div>
    <div>
        <label class="input-control radio">
            <input ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Title"
                   ng-disabled="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.GuestId>0"
                   type="radio"
                   value="1">
            <span class="check"></span>
            <span class="caption">Mr</span>
        </label>
        <label class="input-control radio">
            <input ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Title"
                   ng-disabled="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.GuestId>0"
                   type="radio"
                   value="2">
            <span class="check"></span>
            <span class="caption">Mrs</span>
        </label>
        <label class="input-control radio">
            <input ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Title"
                   ng-disabled="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.GuestId>0"
                   type="radio"
                   value="3">
            <span class="check"></span>
            <span class="caption">Miss</span>
        </label>
        <label class="input-control radio">
            <input ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.Title"
                   ng-disabled="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.GuestId>0"
                   type="radio"
                   value="4">
            <span class="check"></span>
            <span class="caption">Dr</span>
        </label>
    </div>
    <div>
        <label>First Name :</label>
    </div>
    <div class="input-control text takeOutOrderViewTextContain" data-role="input">
        <input type="text"
               ng-disabled="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.GuestId>0"
               ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.FirstName">
    </div>
    <div>
        <label>Last Name :</label>
    </div>
    <div class="input-control text takeOutOrderViewTextContain" data-role="input">
        <input type="text"
               ng-disabled="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.GuestId>0"
               ng-model="HomeDataModule.MiddlePanel.NewOrderPanel.GuestsInformationFilter.GuestDto.LastName">
    </div>
    <div class="grid">
        <div class="row cells3">
            <div class="cell">
                <button class="button success takeOutOrderViewButtonContain"
                        ng-click="HomeDataModule.MiddlePanel.NewOrderPanel.CreateOrder()"
                        ng-disabled="takeoutForm.$invalid"
                        >Confirm
                </button>
            </div>
            <div class="cell">
                <button class="button success takeOutOrderViewButtonContain"
                        ng-click="HomeDataModule.MiddlePanel.NewOrderPanel.GoToPayment()"
                        ng-disabled="takeoutForm.$invalid"
                        >Payment
                </button>
            </div>
            <div class="cell">
                <button class="button success takeOutOrderViewButtonContain"
                        ng-click="HomeDataModule.MiddlePanel.NewOrderPanel.GoToOrderPanel()"
                        >Back
                </button>
            </div>
        </div>
    </div>
</ng-form>

