<style>
    .OrderPanelAddedItemsTableView{
        max-height: 33em; overflow: auto; padding-bottom:0.4em;
    }
    .OrderPanelAddedItemsTableViewXtd{
        cursor: pointer; text-align: center;
    }
</style>

<div style="">
<table class="addedItemsTable table table-bordered OrderPanelAddedItemsTableView">
    <tr>
        <th>C</th>
        <th>Food Name</th>
        <th>Q</th>
        <th>Amount</th>
        <th colspan="2"></th>
    </tr>
    <tr ng-repeat="item in orderDataModule.DataStore.SelectedFoodItemsAr track by $index">
        <td>{{item.cover}}</td>
        <td>{{item.FoodName}}</td>
        <td>{{item.cover}}</td>
        <td>{{item.Price}}</td>
        <td>DD</td>
        <td ng-click="orderDataModule.removeFoodItem($index)" class="OrderPanelAddedItemsTableViewXtd" >X</td>
    </tr>
</table>
</div>