<style>
    .OrderPanel_panelMiddleViewH3{
        margin: 0.2em auto; color: antiquewhite; height: 22px;
    }
    .OrderPanel_panelMiddleViewSplitPanelView{
        clear: both; position: absolute; width:93%; bottom: 30px;
    }
</style>

<div ng-controller="OrderPanelMiddleController">
<h3 class="OrderPanel_panelMiddleViewH3">{{orderDataModule.headerText}}</h3>
<div ng-include="odrViewSplitOrder">

</div>
<div ng-include="'views/order/panelMiddle/reorderSplitView.html'" class="OrderPanel_panelMiddleViewSplitPanelView"></div>
</div>