<style>
    .advanceDepositView_advanceDepositPanel{
        padding: 0.4rem;
    }
    .advanceDepositView_advanceDepositPanel_input{
        display: block;
        width: 100%;
    }
    .advanceDepositView_payement_option{
        height: 80% !important;
        padding: 0.4rem !important;
    }
    .advanceDepositView_main_button_container{
        height: 20% !important;
        position: relative;
    }
    .advanceDepositView_main_button_add{
        position: absolute;
        right: 0.4rem; width: 8rem;

    }
    .advanceDepositView_main_button_cancel{
        position: absolute;
        left: 0.4rem;
        width: 8rem;
    }
</style>

<div ng-init="PaymentDataModule.AdvanceDeposit.OnAdvanceDeposit()" class="PaymentInfo advanceDepositView_advanceDepositPanel">
    <div class="input-control number" data-role="input" class="advanceDepositView_advanceDepositPanel_input" >
        <input type="number"
               placeholder="Advance Deposit Amount.."
               ng-model="PaymentDataModule.AdvanceDeposit.AdvanceAmount"
               disabled>
        <button class="button helper-button clear"><span class="mif-cross"></span></button>
    </div>
</div>
<div class="PaymentOptions">
    <div ng-include="UrlFactory.UrlHolders.HomeViewMiddlePanelPaymentPanel.RightPanel.PaymentOptionsArea" class="advanceDepositView_payement_option">

    </div>
    <div class="advanceDepositView_main_button_container">
        <button
                class="button large-button primary advanceDepositView_main_button_add"

                ng-click="PaymentDataModule.AdvanceDeposit.AddPayment()">
            ADD
        </button>
        <button class="button large-button primary advanceDepositView_main_button_cancel"

                ng-click="PaymentDataModule.AdvanceDeposit.CancelAdvanceDeposit()">
            Cancel
        </button>
    </div>
</div>

<!-- Key Pad -->
<div class="KeyPad">
    <numeric-key-pad-directive value="PaymentDataModule.Payment.PaymentDetailDto.PayAmount" total="335"></numeric-key-pad-directive>
</div>

<!-- Added payments list -->
<div class="AddedPayments" ng-include="'views/home/middlePanel/PaymentPanel/AddedPaymentsView.html'">
</div>

