
<div ng-controller="ReservationController">
<!-- Left Panel -->
<div class="CloudPosUiStructureTwoPanelStructure CloudPosUiStructureMenuPanel CloudPosUiStructurePanelsTheme" ng-controller="ReservationLeftPanelController"  ng-include="'views/reservation/leftPanel/leftPanelView.html'"  style="">

</div>
<!-- Right Panel -->

    <div class="CloudPosUiStructureTwoPanelStructure CloudPosUiStructureBodyPanel CloudPosUiStructurePanelsTheme" ng-controller="ReservationRightPanelController" ng-include="'views/reservation/rightPanel/rightPanelView.html'"  style="">

    </div>

</div>